.cart-card {
  padding: 16px 24px;
  display: flex;
  & > div {
    display: flex;
    align-items: center;
  }
  &__count {
    max-width: 64px;
    min-width: 64px;
    span {
      font-weight: 500;
      font-size: 1rem;
    }
  }
  &__name{
    flex: auto;
  }
  &__price {
    min-width: 64px;
    max-width: 64px;
  }
}
