.product-card {
  background: #fafafa;
  padding: 16px 0px;
  display: flex;
  max-height: 93px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-direction: row;
  &__header {
    flex: auto;
    overflow: hidden;
    & * {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &__content {
    max-width: 64px;
    min-width: 64px;
    vertical-align: middle;
    text-align: center;
    margin: 0px;
    font-size: 1rem;
    p {
      margin: 8px 0px;
    }
  }
  &__action {
    margin: 0px !important;
    padding: 8px !important;
    align-items: center;
    display: flex;
    max-height: 56px;
    box-sizing: border-box;
  }
}
