table {
  width: 100%;
  tr {
    td, th {
      padding: 8px;
    }
    td:first-child, th:first-child {
      padding: 8px 8px 8px 24px;
    }
    td:last-child, th:last-child {
      padding: 8px 24px 8px 8px;
    }
  }
}
