@import '../../../../mixins.scss';

.wrapper {
  * {
    vertical-align: middle;
  }
  &__button {
    margin-right: 8px;
  }
}

.spacer {
  flex: 1 1 auto;
}

.toolbar-button {
  @include icon-button('left');
  font-size: 1rem;
}
