@import '../mixins.scss';

.sidenav-container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fafafa;
  @include mobile {
    top: 54px;
  }
  &__side {
    width: 196px;
  }
}
