<app-header-container></app-header-container>
<mat-progress-bar color="accent" *ngIf="navigationLoading$ | async" mode="indeterminate"></mat-progress-bar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav-container__side"
  (closedStart)="sidenavStateChange()"
  [mode]="layout$ | async"
  [opened]="isOpenSidenav$ | async">
    <app-sidenav-container></app-sidenav-container>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
