.add-fab {
  position: fixed;
  bottom: 32px;
  right: 32px;
  width: max-content;
  min-width: 56px;
  border-radius: 28px;
  overflow: hidden;
  transition: all 200ms ease-in-out;
  padding: 0px 12px;
  & * {
    vertical-align: middle;
  }
  span {
    margin-left: 0px;
    width: 0px;
    overflow: hidden;
    display: inline-block;
    transition: all 200ms ease-in-out;
  }
}

.add-fab:hover {
  span {
    margin-left: 6px;
    width: 110px;
  }
}
