@import '~@angular/material/theming';

$mobile: 600px;

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@mixin icon-button($iconPosition) {

  mat-icon {
    font-size: 1.4rem;
  }

  @if $iconPosition == 'left' {
    padding-left: 8px;
    mat-icon {
      margin-right: 6px;
    }
  } @else if $iconPosition == 'right' {
    padding-right: 8px;
    mat-icon {
      margin-left: 8px;
    }
  }
}
