@import '~@angular/material/theming';
@import './mixins.scss';

@include mat-core();

$exar-labs-app-primary: mat-palette($mat-indigo);
$exar-labs-app-accent: mat-palette($mat-pink, A200, A100, A400);
$exar-labs-app-warn: mat-palette($mat-red);

$exar-labs-app-theme: mat-light-theme($exar-labs-app-primary, $exar-labs-app-accent, $exar-labs-app-warn);

@include angular-material-theme($exar-labs-app-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.relative-dialog-panel {
  position: relative !important;
}

.nav-list .active {
  & > * {
    color: mat-color($exar-labs-app-primary);
  }
}

.header, .footer {
  position: sticky;
  background: #fafafa;
  margin: 0px;
  padding: 16px 24px;
  z-index: 2;
}

.header {
  top: 0px;
  right: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.footer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  display: flex;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  & > * {
    flex: 50%;
    margin: 0px;
  }
  @include mobile {
    flex-direction: column;
    & > * {
      margin: 4px 0px;
    }
  }
}

.exit-button {
  position: absolute;
  top: 16px;
  right: 16px;
}

.loading-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba( white, 0.3);
  z-index: 8;
  mat-progress-bar {
    border-radius: 16xp 16px 0px 0px;
  }
}

.product-card__header {
  .mat-card-header-text {
    overflow: hidden;
  }
}

.load-indicator-container {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-width-divider {
  width: calc(100% + 48px);
  position: relative;
  left: -24px;
}

.mat-badge-content {
  color: white !important;
}
