:host {
  display: block;
  height: 100%;
  background-color: white;
}

.no-cart-content {
  background: url('../../../../../assets/images/empty_cart.png');
  width: 256px;
  height: 192px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 64px auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  .call-to-action {
    position: absolute;
    bottom: -36px;
    font-size: 1rem;
  }
  h2 {
    margin: 0;
    position: absolute;
    top: -32px;
  }
}
